.nav-portofolio{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-portofolio-item{
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

.nav-portofolio-item:hover{
    text-decoration: underline;
    text-decoration-style: wavy;
}

.nav-portofolio-item:active{
    text-decoration: underline;
    text-decoration-style: wavy;
}

.card-portofolio-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-portofolio{
    background-color: #FFFFFF;
    position: relative;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 white,black;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0,0.125);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 10px; */
    color: black;
}

.card-portofolio-image{
    width: 100%;
    height: 200px;
    /* border-radius: 10px;  */
}

.container{
    text-align: center;
  padding: 10px 20px;
}


.card-portofolio-title{
    margin-top: 10px;
    font-size: 16px;
}
.card-portofolio-desc{
    font-size: 12px;
}
.card-portofolio-url{
    font-size: 12px;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008CBA;
    color: white;
    transition: .5s ease-in-out;
}
.card-portofolio:hover .overlay{
    opacity: 0.7;
}

@media only screen and (max-width :500px){
    .card-portofolio{
        width: 100%;
        /* min-height: 500px; */
    }
    .card-portofolio-image{
        width: 100%;
        
    }
}

