.nav-portofolio{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-portofolio-item{
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

.nav-portofolio-item:hover{
    text-decoration: underline;
    text-decoration-style: wavy;
}

.nav-portofolio-item:active{
    text-decoration: underline;
    text-decoration-style: wavy;
}

.card-portofolio-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-portofolio{
    background-color: #FFFFFF;
    width: 180px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
}

.card-portofolio-image{
    width: 100%;
    height: 170px;
    border-radius: 10px;
}


.card-portofolio-title{
    margin-top: 10px;
    font-size: 14px;
}
.card-portofolio-desc{
    font-size: 12px;
}
.card-portofolio-url{
    font-size: 12px;
}

