*{
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
  min-height: 93.5vh;
  height: 93.5vh;
  overflow: hidden;
  background-image: url('./assets/image/image2.jpg');
  /* #3C8DBC blue klik dokter */
  /* #008080 tosca */
  /* #FFFFFF white admin lte */
  /* background-color: blue; */
  /* background-image: linear-gradient(to right,grey,#FFFFFF),url('./assets/image/image2.jpg'); */
  /* background-blend-mode: soft-light ; */
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 20px;
  flex-direction: row;
  font-family: cursive;
  color: white;
  /*background: linear-gradient(to bottom right,black,white);*/
}
.isdark{
  background-color: #050505;
  opacity: 0.70;
  color:whitesmoke;
}

.App-container-content{
  flex: 1;
  padding-bottom:100px;
}
.App-content::-webkit-scrollbar {
    display: run-in;
}

.App-content{
  padding: 20px;
  transition: step-end 2s linear 2s;
  height: 93vh;
  overflow-y:scroll;
  /* width: 100%; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding-bottom: 100px;
}

.App-image{
  display: flex;
  width: 500px;
  flex-direction: column;
}

.App-image-text{
  color: #515151;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  /* opacity: 70%; */
  background-image:linear-gradient(to bottom,black,white);
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
